# 505-01-FA22 {-}
# Team 1 {-}
# Final Project {-}

# Bankruptcy {-}

## https://archive.ics.uci.edu/ml/datasets/Polish+companies+bankruptcy+data {-}

|Original Feature Name                                                                                                    |Changed To   |New Feature Name                 |
|-------------------------------------------------------------------------------------------------------------------------|-------------|---------------------------------|
|X1 net profit / total assets                                                                                             |-->          |profit_to_assets_ratio           |
|X2 total liabilities / total assets                                                                                      |-->          |liab_to_assets_ratio             |
|X3 working capital / total assets                                                                                        |-->          |work_cap_to_assets_ratio         |
|X4 current assets / short-term liabilities                                                                               |-->          |assets_to_liab_ratio             |
|X5 [(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365   |-->          |annual_equity_to_expense_ratio   |
|X6 retained earnings / total assets                                                                                      |-->          |ret_earn_to_assets_ratio         |
|X7 EBIT / total assets                                                                                                   |-->          |ebit_to_assets_ratio             |
|X8 book value of equity / total liabilities                                                                              |             |                                 |
|X9 sales / total assets                                                                                                  |             |                                 |
|X10 equity / total assets                                                                                                |             |                                 |
|X11 (gross profit + extraordinary items + financial expenses) / total assets                                             |             |                                 |
|X12 gross profit / short-term liabilities                                                                                |             |                                 |
|X13 (gross profit + depreciation) / sales                                                                                |             |                                 |
|X14 (gross profit + interest) / total assets                                                                             |             |                                 |
|X15 (total liabilities * 365) / (gross profit + depreciation)                                                            |             |                                 |
|X16 (gross profit + depreciation) / total liabilities                                                                    |             |                                 |
|X17 total assets / total liabilities                                                                                     |             |                                 |
|X18 gross profit / total assets                                                                                          |             |                                 |
|X19 gross profit / sales                                                                                                 |             |                                 |
|X20 (inventory * 365) / sales                                                                                            |             |                                 |
|X21 sales (n) / sales (n-1)                                                                                              |             |                                 |
|X22 profit on operating activities / total assets                                                                        |             |                                 |
|X23 net profit / sales                                                                                                   |             |                                 |
|X24 gross profit (in 3 years) / total assets                                                                             |             |                                 |
|X25 (equity - share capital) / total assets                                                                              |             |                                 |
|X26 (net profit + depreciation) / total liabilities                                                                      |             |                                 |
|X27 profit on operating activities / financial expenses                                                                  |             |                                 |
|X28 working capital / fixed assets                                                                                       |             |                                 |
|X29 logarithm of total assets                                                                                            |             |                                 |
|X30 (total liabilities - cash) / sales                                                                                   |             |                                 |
|X31 (gross profit + interest) / sales                                                                                    |             |                                 |
|X32 (current liabilities * 365) / cost of products sold                                                                  |             |                                 |
|X33 operating expenses / short-term liabilities                                                                          |             |                                 |
|X34 operating expenses / total liabilities                                                                               |             |                                 |
|X35 profit on sales / total assets                                                                                       |             |                                 |
|X36 total sales / total assets                                                                                           |             |                                 |
|X37 (current assets - inventories) / long-term liabilities                                                               |             |                                 |
|X38 constant capital / total assets                                                                                      |             |                                 |
|X39 profit on sales / sales                                                                                              |             |sales_profit_ratio               |
|X40 (current assets - inventory - receivables) / short-term liabilities                                                  |             |                                 |
|X41 total liabilities / ((profit on operating activities + depreciation) * (12/365))                                     |             |                                 |
|X42 profit on operating activities / sales                                                                               |             |                                 |
|X43 rotation receivables + inventory turnover in days                                                                    |             |                                 |
|X44 (receivables * 365) / sales                                                                                          |             |                                 |
|X45 net profit / inventory                                                                                               |             |                                 |
|X46 (current assets - inventory) / short-term liabilities                                                                |             |                                 |
|X47 (inventory * 365) / cost of products sold                                                                            |             |                                 |
|X48 EBITDA (profit on operating activities - depreciation) / total assets                                                |             |                                 |
|X49 EBITDA (profit on operating activities - depreciation) / sales                                                       |             |                                 |
|X50 current assets / total liabilities                                                                                   |             |                                 |
|X51 short-term liabilities / total assets                                                                                |             |                                 |
|X52 (short-term liabilities * 365) / cost of products sold)                                                              |             |                                 |
|X53 equity / fixed assets                                                                                                |             |                                 |
|X54 constant capital / fixed assets                                                                                      |             |                                 |
|X55 working capital                                                                                                      |             |                                 |
|X56 (sales - cost of products sold) / sales                                                                              |             |                                 |
|X57 (current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)                        |             |                                 |
|X58 total costs /total sales                                                                                             |             |                                 |
|X59 long-term liabilities / equity                                                                                       |             |                                 |
|X60 sales / inventory                                                                                                    |             |                                 |
|X61 sales / receivables                                                                                                  |             |                                 |
|X62 (short-term liabilities \*365) / sales                                                                               |             |                                 |
|X63 sales / short-term liabilities                                                                                       |             |                                 |
|X64 sales / fixed assets                                                                                                 |             |                                 |
|class                                                                                                                    |             |                                 |

## Import libraries {-}

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pylab as plt
from imblearn.over_sampling import SMOTE
from scipy.io import arff
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import VarianceThreshold
from sklearn.impute import KNNImputer
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV, LinearRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, r2_score, recall_score, precision_score, f1_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier, KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
import statsmodels.api as sm
import statsmodels.tools.tools as stattools
from geopy.distance import great_circle
import dmba
from dmba import classificationSummary, regressionSummary, gainsChart, liftChart, backward_elimination, stepwise_selection
from dmba.metric import AIC_score, adjusted_r2_score

 # Turn off warnings (John D K, 2021)
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

## 1. Data preprocessing {-}

**TODO** \
- [X] Combine files? \
- [ ] Rename columns \
- [ ] Check for and deal w/ nulls \
- [X] Convert class to 0/1 \
- [X] Stratified train/test split \
- [X] Look for near zero variances \
- [ ] create multiple df's: implement rebalancing \
- [ ] Emgineer any features? \
- [ ] Feature extraction/reduction?

### Load data and display characteristics {-}

In [2]:
raw_arff01 = arff.loadarff(r'C:\Users\acarr\Documents\GitHub\ads505_business_proj\data\Potential Data Sets\Bankruptcy\1year.arff')
df01a = pd.DataFrame(raw_arff01[0])
display(df01a.shape) # Display dimensions
display(df01a.describe()) # Display simple descriptive stats
display(df01a.head()) # Display first 5 rows
display(df01a.info())

raw_arff02 = arff.loadarff(r'C:\Users\acarr\Documents\GitHub\ads505_business_proj\data\Potential Data Sets\Bankruptcy\2year.arff')
df01b = pd.DataFrame(raw_arff02[0])
display(df01b.shape) # Display dimensions
display(df01b.describe()) # Display simple descriptive stats
display(df01b.head()) # Display first 5 rows
display(df01b.info())

raw_arff03 = arff.loadarff(r'C:\Users\acarr\Documents\GitHub\ads505_business_proj\data\Potential Data Sets\Bankruptcy\3year.arff')
df01c = pd.DataFrame(raw_arff03[0])
display(df01c.shape) # Display dimensions
display(df01c.describe()) # Display simple descriptive stats
display(df01c.head()) # Display first 5 rows
display(df01c.info())

raw_arff04 = arff.loadarff(r'C:\Users\acarr\Documents\GitHub\ads505_business_proj\data\Potential Data Sets\Bankruptcy\4year.arff')
df01d = pd.DataFrame(raw_arff04[0])
display(df01d.shape) # Display dimensions
display(df01d.describe()) # Display simple descriptive stats
display(df01d.head()) # Display first 5 rows
display(df01d.info())

raw_arff05 = arff.loadarff(r'C:\Users\acarr\Documents\GitHub\ads505_business_proj\data\Potential Data Sets\Bankruptcy\5year.arff')
df01e = pd.DataFrame(raw_arff05[0])
display(df01e.shape) # Display dimensions
display(df01e.describe()) # Display simple descriptive stats
display(df01e.head()) # Display first 5 rows
display(df01e.info())

(7027, 65)

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,7024.000000,7024.000000,7024.000000,6997.000000,7.019000e+03,7024.000000,7024.000000,7002.000000,7026.000000,7024.000000,...,7.027000e+03,7.027000e+03,7026.000000,7.027000e+03,7026.000000,6.892000e+03,7005.000000,7.027000e+03,6997.000000,6993.000000
mean,0.034660,0.560215,0.119969,2.629143,-2.631672e+02,0.059712,0.313876,2.623996,5.552855,1.825832,...,8.855693e+03,-1.577367e+02,0.193243,1.587409e+02,0.277829,4.328830e+02,15.642228,4.763202e+03,8.126852,208.731950
std,4.565504,5.350084,5.275459,13.257356,3.707460e+04,6.051113,8.353274,18.708327,101.995448,33.836452,...,7.247527e+04,1.322125e+04,4.344046,1.322124e+04,6.339149,2.612802e+04,261.554534,3.107835e+05,19.996419,5140.708804
min,-256.890000,-72.162000,-440.500000,0.000000,-2.722100e+06,-397.890000,-189.560000,-141.410000,0.000005,-440.550000,...,-8.004700e+05,-1.108300e+06,-315.370000,-4.194000e-03,-327.970000,4.700000e-05,0.000016,0.000000e+00,0.000015,0.000010
25%,0.021182,0.296678,0.026968,1.063100,-4.449800e+01,0.000000,0.028023,0.445710,1.037225,0.300785,...,9.712000e+01,2.031450e-02,0.056772,8.647650e-01,0.000000,5.923950e+00,4.829000,4.322250e+01,3.425400,2.538600
50%,0.075802,0.482960,0.181275,1.502000,-5.373900e+00,0.000000,0.090109,1.015100,1.205750,0.492235,...,1.604800e+03,6.338200e-02,0.175745,9.388100e-01,0.028438,1.004050e+01,7.033700,6.850900e+01,5.303200,4.637700
75%,0.160268,0.680233,0.362548,2.460700,3.777050e+01,0.146660,0.188667,2.267675,2.132975,0.675677,...,5.955900e+03,1.376950e-01,0.351922,9.820150e-01,0.273867,2.013900e+01,10.703000,1.063350e+02,8.357900,9.782200
max,94.280000,441.500000,1.000000,1017.800000,9.909000e+05,303.670000,453.770000,1452.200000,3876.100000,1099.500000,...,4.398400e+06,1.000000e+00,126.670000,1.108300e+06,119.580000,2.137800e+06,21110.000000,2.501600e+07,1042.200000,294770.000000

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,0.50494,...,0.121960,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277,b'0'
1,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,0.49788,...,0.121300,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870,b'0'
2,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,0.30408,...,0.241140,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078,b'0'
3,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,0.57353,...,0.054015,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497,b'0'
4,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,0.38677,...,0.134850,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980,b'0'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7027 entries, 0 to 7026
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   7024 non-null   float64
 1   Attr2   7024 non-null   float64
 2   Attr3   7024 non-null   float64
 3   Attr4   6997 non-null   float64
 4   Attr5   7019 non-null   float64
 5   Attr6   7024 non-null   float64
 6   Attr7   7024 non-null   float64
 7   Attr8   7002 non-null   float64
 8   Attr9   7026 non-null   float64
 9   Attr10  7024 non-null   float64
 10  Attr11  6988 non-null   float64
 11  Attr12  6997 non-null   float64
 12  Attr13  7027 non-null   float64
 13  Attr14  7024 non-null   float64
 14  Attr15  7025 non-null   float64
 15  Attr16  7002 non-null   float64
 16  Attr17  7002 non-null   float64
 17  Attr18  7024 non-null   float64
 18  Attr19  7027 non-null   float64
 19  Attr20  7027 non-null   float64
 20  Attr21  5405 non-null   float64
 21  Attr22  7024 non-null   float64
 22  Attr23  7027 non-null   float64
 23  Attr24  6903 non-null   float64
 24  Attr25  7024 non-null   float64
 25  Attr26  7002 non-null   float64
 26  Attr27  6716 non-null   float64
 27  Attr28  6993 non-null   float64
 28  Attr29  7024 non-null   float64
 29  Attr30  7027 non-null   float64
 30  Attr31  7027 non-null   float64
 31  Attr32  6989 non-null   float64
 32  Attr33  6997 non-null   float64
 33  Attr34  7002 non-null   float64
 34  Attr35  7024 non-null   float64
 35  Attr36  7024 non-null   float64
 36  Attr37  4287 non-null   float64
 37  Attr38  7024 non-null   float64
 38  Attr39  7027 non-null   float64
 39  Attr40  6997 non-null   float64
 40  Attr41  6943 non-null   float64
 41  Attr42  7027 non-null   float64
 42  Attr43  7027 non-null   float64
 43  Attr44  7027 non-null   float64
 44  Attr45  6893 non-null   float64
 45  Attr46  6996 non-null   float64
 46  Attr47  6998 non-null   float64
 47  Attr48  7024 non-null   float64
 48  Attr49  7027 non-null   float64
 49  Attr50  7002 non-null   float64
 50  Attr51  7024 non-null   float64
 51  Attr52  6998 non-null   float64
 52  Attr53  6993 non-null   float64
 53  Attr54  6993 non-null   float64
 54  Attr55  7027 non-null   float64
 55  Attr56  7027 non-null   float64
 56  Attr57  7026 non-null   float64
 57  Attr58  7027 non-null   float64
 58  Attr59  7026 non-null   float64
 59  Attr60  6892 non-null   float64
 60  Attr61  7005 non-null   float64
 61  Attr62  7027 non-null   float64
 62  Attr63  6997 non-null   float64
 63  Attr64  6993 non-null   float64
 64  class   7027 non-null   object
dtypes: float64(64), object(1)
memory usage: 3.5+ MB

None

(10173, 65)

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,10172.000000,10172.000000,10172.000000,10151.000000,10149.000000,10172.000000,10172.000000,10155.000000,10169.000000,10172.000000,...,1.017200e+04,10110.000000,10171.000000,10134.000000,10171.000000,9630.000000,10157.000000,1.011000e+04,10151.000000,9961.000000
mean,0.043074,0.646960,0.070861,4.144058,-144.830797,-0.111564,0.122101,9.868798,2.867541,0.344341,...,6.080925e+03,-1.128949,-0.043519,12.656337,3.034738,375.332514,16.884020,8.910799e+02,11.217653,55.275877
std,1.112028,6.615405,6.606495,51.715242,7811.976260,6.568088,6.532490,288.386870,96.674595,6.655844,...,6.598007e+04,86.502920,12.251651,632.937400,238.185655,12294.315980,295.762312,4.366133e+04,233.919213,1526.588333
min,-75.331000,0.000000,-479.960000,0.002079,-438250.000000,-508.410000,-75.331000,-1.594500,-0.612590,-479.910000,...,-1.805200e+06,-8534.600000,-979.250000,-4.549700,-189.580000,0.000000,-0.007521,-9.921400e+02,-0.367890,-10677.000000
25%,0.000364,0.277695,0.012114,1.029200,-50.131000,0.000000,0.001975,0.393635,1.026300,0.277365,...,5.699975e+00,0.010381,0.009959,0.872130,0.000000,5.684275,4.695300,4.028225e+01,3.102200,2.310900
50%,0.049493,0.487335,0.189695,1.524400,-1.907500,0.000000,0.060057,1.005400,1.285700,0.490925,...,8.326700e+02,0.055013,0.126210,0.949715,0.004849,10.353500,6.988600,6.964550e+01,5.198900,4.536000
75%,0.141105,0.705040,0.400400,2.741100,51.443000,0.074739,0.165865,2.518850,2.256600,0.703280,...,4.020250e+03,0.134068,0.309135,0.993390,0.249240,22.163500,11.073000,1.163200e+02,9.012550,10.604000
max,7.372700,480.960000,5.502200,4881.600000,70686.000000,35.551000,649.230000,18554.000000,9742.300000,74.434000,...,3.657400e+06,20.200000,147.190000,59672.000000,23853.000000,639940.000000,26862.000000,4.144800e+06,23454.000000,127680.000000

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.202350,0.46500,0.240380,1.5171,-14.547,0.510690,0.25366,0.91816,1.15190,0.42695,...,0.13184,0.473950,0.86816,0.00024,8.5487,5.16550,107.740,3.38790,5.3440,b'0'
1,0.030073,0.59563,0.186680,1.3382,-37.859,-0.000319,0.04167,0.67890,0.32356,0.40437,...,0.12146,0.074369,0.87235,0.00000,1.5264,0.63305,622.660,0.58619,1.2381,b'0'
2,0.257860,0.29949,0.665190,3.2211,71.799,0.000000,0.31877,2.33200,1.67620,0.69841,...,0.16499,0.369210,0.81614,0.00000,4.3325,3.19850,65.215,5.59690,47.4660,b'0'
3,0.227160,0.67850,0.042784,1.0828,-88.212,0.000000,0.28505,0.47384,1.32410,0.32150,...,0.29358,0.706570,0.78617,0.48456,5.2309,5.06750,142.460,2.56210,3.0066,b'0'
4,0.085443,0.38039,0.359230,1.9444,21.731,0.187900,0.10823,1.37140,1.11260,0.52167,...,0.10124,0.163790,0.89876,0.00000,5.7035,4.00200,89.058,4.09840,5.9874,b'0'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10173 entries, 0 to 10172
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   10172 non-null  float64
 1   Attr2   10172 non-null  float64
 2   Attr3   10172 non-null  float64
 3   Attr4   10151 non-null  float64
 4   Attr5   10149 non-null  float64
 5   Attr6   10172 non-null  float64
 6   Attr7   10172 non-null  float64
 7   Attr8   10155 non-null  float64
 8   Attr9   10169 non-null  float64
 9   Attr10  10172 non-null  float64
 10  Attr11  10172 non-null  float64
 11  Attr12  10151 non-null  float64
 12  Attr13  10110 non-null  float64
 13  Attr14  10172 non-null  float64
 14  Attr15  10161 non-null  float64
 15  Attr16  10154 non-null  float64
 16  Attr17  10155 non-null  float64
 17  Attr18  10172 non-null  float64
 18  Attr19  10109 non-null  float64
 19  Attr20  10110 non-null  float64
 20  Attr21  7009 non-null   float64
 21  Attr22  10172 non-null  float64
 22  Attr23  10110 non-null  float64
 23  Attr24  9948 non-null   float64
 24  Attr25  10172 non-null  float64
 25  Attr26  10154 non-null  float64
 26  Attr27  9467 non-null   float64
 27  Attr28  9961 non-null   float64
 28  Attr29  10172 non-null  float64
 29  Attr30  10110 non-null  float64
 30  Attr31  10110 non-null  float64
 31  Attr32  10086 non-null  float64
 32  Attr33  10151 non-null  float64
 33  Attr34  10155 non-null  float64
 34  Attr35  10172 non-null  float64
 35  Attr36  10172 non-null  float64
 36  Attr37  5655 non-null   float64
 37  Attr38  10172 non-null  float64
 38  Attr39  10110 non-null  float64
 39  Attr40  10151 non-null  float64
 40  Attr41  9976 non-null   float64
 41  Attr42  10110 non-null  float64
 42  Attr43  10110 non-null  float64
 43  Attr44  10110 non-null  float64
 44  Attr45  9632 non-null   float64
 45  Attr46  10151 non-null  float64
 46  Attr47  10099 non-null  float64
 47  Attr48  10171 non-null  float64
 48  Attr49  10110 non-null  float64
 49  Attr50  10155 non-null  float64
 50  Attr51  10172 non-null  float64
 51  Attr52  10099 non-null  float64
 52  Attr53  9961 non-null   float64
 53  Attr54  9961 non-null   float64
 54  Attr55  10172 non-null  float64
 55  Attr56  10110 non-null  float64
 56  Attr57  10171 non-null  float64
 57  Attr58  10134 non-null  float64
 58  Attr59  10171 non-null  float64
 59  Attr60  9630 non-null   float64
 60  Attr61  10157 non-null  float64
 61  Attr62  10110 non-null  float64
 62  Attr63  10151 non-null  float64
 63  Attr64  9961 non-null   float64
 64  class   10173 non-null  object
dtypes: float64(64), object(1)
memory usage: 5.0+ MB

None

(10503, 65)

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,10503.000000,10503.000000,10503.000000,10485.000000,1.047800e+04,10503.000000,10503.000000,10489.000000,10500.000000,10503.000000,...,1.050300e+04,10460.000000,10503.000000,10474.000000,10503.000000,9.911000e+03,10486.000000,1.046000e+04,10485.000000,10275.000000
mean,0.052844,0.619911,0.095490,9.980499,-1.347662e+03,-0.121159,0.065624,19.140113,1.819254,0.366093,...,6.638549e+03,-0.530082,-0.014817,3.848794,1.429319,5.713363e+02,13.935361,1.355370e+02,9.095149,35.766800
std,0.647797,6.427041,6.420056,523.691951,1.185806e+05,6.970625,0.651152,717.756745,7.581659,6.428603,...,5.989196e+04,55.978608,18.684047,190.201224,77.273270,3.715967e+04,83.704103,2.599116e+04,31.419096,428.298315
min,-17.692000,0.000000,-479.730000,0.002080,-1.190300e+07,-508.120000,-17.692000,-2.081800,-1.215700,-479.730000,...,-7.513800e+05,-5691.700000,-1667.300000,-198.690000,-172.070000,0.000000e+00,-6.590300,-2.336500e+06,-0.000156,-0.000102
25%,0.000686,0.253955,0.017461,1.040100,-5.207075e+01,0.000000,0.002118,0.431270,1.011275,0.297340,...,1.462100e+01,0.005137,0.006796,0.875560,0.000000,5.533150e+00,4.486075,4.073700e+01,3.062800,2.023350
50%,0.043034,0.464140,0.198560,1.605600,1.579300e+00,0.000000,0.050945,1.111000,1.199000,0.515500,...,8.822900e+02,0.051765,0.106880,0.953060,0.002976,9.952100e+00,6.677300,7.066400e+01,5.139200,4.059300
75%,0.123805,0.689330,0.419545,2.959500,5.608400e+01,0.072584,0.142275,2.857100,2.059100,0.725635,...,4.348900e+03,0.130010,0.271310,0.995927,0.240320,2.093600e+01,10.587500,1.182200e+02,8.882600,9.682750
max,52.652000,480.730000,17.708000,53433.000000,6.854400e+05,45.533000,52.652000,53432.000000,740.440000,11.837000,...,3.380500e+06,293.150000,552.640000,18118.000000,7617.300000,3.660200e+06,4470.400000,1.073500e+06,1974.500000,21499.000000

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.174190,0.41299,0.14371,1.3480,-28.9820,0.60383,0.219460,1.1225,1.1961,0.46359,...,0.163960,0.375740,0.83604,0.000007,9.7145,6.2813,84.291,4.3303,4.0341,b'0'
1,0.146240,0.46038,0.28230,1.6294,2.5952,0.00000,0.171850,1.1721,1.6018,0.53962,...,0.027516,0.271000,0.90108,0.000000,5.9882,4.1103,102.190,3.5716,5.9500,b'0'
2,0.000595,0.22612,0.48839,3.1599,84.8740,0.19114,0.004572,2.9881,1.0077,0.67566,...,0.007639,0.000881,0.99236,0.000000,6.7742,3.7922,64.846,5.6287,4.4581,b'0'
3,0.024526,0.43236,0.27546,1.7833,-10.1050,0.56944,0.024526,1.3057,1.0509,0.56453,...,0.048398,0.043445,0.95160,0.142980,4.2286,5.0528,98.783,3.6950,3.4844,b'0'
4,0.188290,0.41504,0.34231,1.9279,-58.2740,0.00000,0.233580,1.4094,1.3393,0.58496,...,0.176480,0.321880,0.82635,0.073039,2.5912,7.0756,100.540,3.6303,4.6375,b'0'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10503 entries, 0 to 10502
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   10503 non-null  float64
 1   Attr2   10503 non-null  float64
 2   Attr3   10503 non-null  float64
 3   Attr4   10485 non-null  float64
 4   Attr5   10478 non-null  float64
 5   Attr6   10503 non-null  float64
 6   Attr7   10503 non-null  float64
 7   Attr8   10489 non-null  float64
 8   Attr9   10500 non-null  float64
 9   Attr10  10503 non-null  float64
 10  Attr11  10503 non-null  float64
 11  Attr12  10485 non-null  float64
 12  Attr13  10460 non-null  float64
 13  Attr14  10503 non-null  float64
 14  Attr15  10495 non-null  float64
 15  Attr16  10489 non-null  float64
 16  Attr17  10489 non-null  float64
 17  Attr18  10503 non-null  float64
 18  Attr19  10460 non-null  float64
 19  Attr20  10460 non-null  float64
 20  Attr21  9696 non-null   float64
 21  Attr22  10503 non-null  float64
 22  Attr23  10460 non-null  float64
 23  Attr24  10276 non-null  float64
 24  Attr25  10503 non-null  float64
 25  Attr26  10489 non-null  float64
 26  Attr27  9788 non-null   float64
 27  Attr28  10275 non-null  float64
 28  Attr29  10503 non-null  float64
 29  Attr30  10460 non-null  float64
 30  Attr31  10460 non-null  float64
 31  Attr32  10402 non-null  float64
 32  Attr33  10485 non-null  float64
 33  Attr34  10489 non-null  float64
 34  Attr35  10503 non-null  float64
 35  Attr36  10503 non-null  float64
 36  Attr37  5767 non-null   float64
 37  Attr38  10503 non-null  float64
 38  Attr39  10460 non-null  float64
 39  Attr40  10485 non-null  float64
 40  Attr41  10301 non-null  float64
 41  Attr42  10460 non-null  float64
 42  Attr43  10460 non-null  float64
 43  Attr44  10460 non-null  float64
 44  Attr45  9912 non-null   float64
 45  Attr46  10485 non-null  float64
 46  Attr47  10417 non-null  float64
 47  Attr48  10503 non-null  float64
 48  Attr49  10460 non-null  float64
 49  Attr50  10489 non-null  float64
 50  Attr51  10503 non-null  float64
 51  Attr52  10417 non-null  float64
 52  Attr53  10275 non-null  float64
 53  Attr54  10275 non-null  float64
 54  Attr55  10503 non-null  float64
 55  Attr56  10460 non-null  float64
 56  Attr57  10503 non-null  float64
 57  Attr58  10474 non-null  float64
 58  Attr59  10503 non-null  float64
 59  Attr60  9911 non-null   float64
 60  Attr61  10486 non-null  float64
 61  Attr62  10460 non-null  float64
 62  Attr63  10485 non-null  float64
 63  Attr64  10275 non-null  float64
 64  class   10503 non-null  object
dtypes: float64(64), object(1)
memory usage: 5.2+ MB

None

(9792, 65)

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,9791.000000,9791.000000,9791.000000,9749.000000,9.771000e+03,9791.000000,9791.000000,9773.000000,9792.000000,9791.000000,...,9.792000e+03,9771.000000,9791.000000,9776.000000,9791.000000,9178.000000,9760.000000,9.771000e+03,9749.000000,9561.000000
mean,0.043019,0.596404,0.130959,8.136600,6.465164e+01,-0.059273,0.059446,19.884016,1.882296,0.389040,...,7.686330e+03,-0.992263,0.035022,1.133287,0.856053,118.156064,25.194430,2.015157e+03,8.660813,35.949619
std,0.359321,4.587122,4.559074,290.647281,1.475939e+04,6.812754,0.533344,698.697015,17.674650,4.590299,...,7.605261e+04,77.007971,8.945365,8.038201,26.393305,3230.316692,1099.260821,1.171461e+05,60.838202,483.318623
min,-12.458000,0.000000,-445.910000,-0.045319,-3.794600e+05,-486.820000,-12.458000,-1.848200,-0.032371,-445.910000,...,-7.132200e+05,-7522.100000,-597.420000,-30.892000,-284.380000,0.000000,-12.656000,-1.496500e+04,-0.024390,-0.000015
25%,0.001321,0.263145,0.020377,1.047000,-5.121700e+01,-0.000578,0.003004,0.428300,1.006675,0.294440,...,2.184000e+01,0.003121,0.008768,0.885722,0.000000,5.356325,4.267700,4.323400e+01,2.938800,2.012900
50%,0.041364,0.467740,0.199290,1.591800,-5.557600e-02,0.000000,0.048820,1.088700,1.161300,0.510450,...,9.503300e+02,0.043679,0.098026,0.958305,0.002129,9.482000,6.283550,7.472900e+01,4.848900,4.041600
75%,0.111130,0.689255,0.410670,2.880400,5.573200e+01,0.065322,0.126940,2.691000,1.970225,0.714290,...,4.694550e+03,0.117170,0.242680,0.996163,0.211790,19.506000,9.938200,1.233450e+02,8.363800,9.413500
max,20.482000,446.910000,22.769000,27146.000000,1.034100e+06,322.200000,38.618000,53209.000000,1704.800000,12.602000,...,6.123700e+06,112.020000,226.760000,668.750000,1661.000000,251570.000000,108000.000000,1.077900e+07,5662.400000,21153.000000

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.159290,0.46240,0.07773,1.1683,-44.853,0.467020,0.189480,0.82895,1.1223,0.38330,...,0.108990,0.41557,0.89101,0.001422,7.7928,4.9914,119.810,3.0465,3.0560,b'0'
1,-0.127430,0.46243,0.26917,1.7517,7.597,0.000925,-0.127430,1.16250,1.2944,0.53757,...,-0.089372,-0.23704,1.06250,0.150410,5.4327,3.4629,100.970,3.6150,3.4725,b'0'
2,0.070488,0.23570,0.52781,3.2393,125.680,0.163670,0.086895,2.87180,1.0574,0.67689,...,0.054286,0.10413,0.94571,0.000000,7.1070,3.3808,76.076,4.7978,4.7818,b'0'
3,0.136760,0.40538,0.31543,1.8705,19.115,0.504970,0.136760,1.45390,1.1144,0.58938,...,0.102630,0.23203,0.89737,0.073024,6.1384,4.2241,88.299,4.1337,4.6484,b'0'
4,-0.110080,0.69793,0.18878,1.2713,-15.344,0.000000,-0.110080,0.43282,1.7350,0.30207,...,0.439880,-0.36440,0.57153,0.000000,18.8010,2.7925,146.390,2.4934,15.0360,b'0'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9792 entries, 0 to 9791
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   9791 non-null   float64
 1   Attr2   9791 non-null   float64
 2   Attr3   9791 non-null   float64
 3   Attr4   9749 non-null   float64
 4   Attr5   9771 non-null   float64
 5   Attr6   9791 non-null   float64
 6   Attr7   9791 non-null   float64
 7   Attr8   9773 non-null   float64
 8   Attr9   9792 non-null   float64
 9   Attr10  9791 non-null   float64
 10  Attr11  9791 non-null   float64
 11  Attr12  9749 non-null   float64
 12  Attr13  9771 non-null   float64
 13  Attr14  9791 non-null   float64
 14  Attr15  9784 non-null   float64
 15  Attr16  9773 non-null   float64
 16  Attr17  9773 non-null   float64
 17  Attr18  9791 non-null   float64
 18  Attr19  9771 non-null   float64
 19  Attr20  9771 non-null   float64
 20  Attr21  9634 non-null   float64
 21  Attr22  9791 non-null   float64
 22  Attr23  9771 non-null   float64
 23  Attr24  9581 non-null   float64
 24  Attr25  9791 non-null   float64
 25  Attr26  9773 non-null   float64
 26  Attr27  9151 non-null   float64
 27  Attr28  9561 non-null   float64
 28  Attr29  9791 non-null   float64
 29  Attr30  9771 non-null   float64
 30  Attr31  9771 non-null   float64
 31  Attr32  9696 non-null   float64
 32  Attr33  9749 non-null   float64
 33  Attr34  9773 non-null   float64
 34  Attr35  9791 non-null   float64
 35  Attr36  9791 non-null   float64
 36  Attr37  5350 non-null   float64
 37  Attr38  9791 non-null   float64
 38  Attr39  9771 non-null   float64
 39  Attr40  9749 non-null   float64
 40  Attr41  9605 non-null   float64
 41  Attr42  9771 non-null   float64
 42  Attr43  9771 non-null   float64
 43  Attr44  9771 non-null   float64
 44  Attr45  9179 non-null   float64
 45  Attr46  9749 non-null   float64
 46  Attr47  9719 non-null   float64
 47  Attr48  9791 non-null   float64
 48  Attr49  9771 non-null   float64
 49  Attr50  9773 non-null   float64
 50  Attr51  9791 non-null   float64
 51  Attr52  9716 non-null   float64
 52  Attr53  9561 non-null   float64
 53  Attr54  9561 non-null   float64
 54  Attr55  9792 non-null   float64
 55  Attr56  9771 non-null   float64
 56  Attr57  9791 non-null   float64
 57  Attr58  9776 non-null   float64
 58  Attr59  9791 non-null   float64
 59  Attr60  9178 non-null   float64
 60  Attr61  9760 non-null   float64
 61  Attr62  9771 non-null   float64
 62  Attr63  9749 non-null   float64
 63  Attr64  9561 non-null   float64
 64  class   9792 non-null   object
dtypes: float64(64), object(1)
memory usage: 4.9+ MB

None

(5910, 65)

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,5907.000000,5907.000000,5907.000000,5889.000000,5.899000e+03,5907.000000,5907.000000,5892.000000,5909.000000,5907.000000,...,5.910000e+03,5910.000000,5907.000000,5910.000000,5907.000000,5.642000e+03,5895.000000,5910.000000,5889.000000,5803.000000
mean,-0.022347,0.465086,0.189155,4.892476,1.940676e+01,0.022584,-0.111951,5.737741,1.588322,0.545580,...,1.081731e+04,0.057222,-0.263837,0.956504,0.279319,9.110338e+02,10.941497,241.978184,9.127741,65.276716
std,6.163655,5.751283,1.177729,91.434574,2.152932e+04,9.992080,9.057135,102.355101,1.548390,5.763742,...,7.956401e+04,0.698096,18.425091,0.857326,5.840554,6.415469e+04,41.166591,6221.135690,103.074304,2150.645860
min,-463.890000,-430.870000,-72.067000,-0.403110,-1.076400e+06,-463.890000,-517.480000,-3.735100,-3.496000,-71.444000,...,-1.118500e+06,-46.788000,-1236.300000,-0.164390,-184.980000,-1.244000e+01,-0.092493,-236.530000,-1.543200,-3.726500
25%,0.003965,0.255355,0.043953,1.093700,-4.383650e+01,0.000000,0.005889,0.481865,1.014800,0.318940,...,8.791225e+01,0.010996,0.015655,0.876552,0.000000,5.248500e+00,4.278650,44.646750,3.066900,2.147500
50%,0.046670,0.451750,0.219440,1.651700,4.914900e-01,0.000000,0.056500,1.149300,1.139700,0.523320,...,1.802800e+03,0.053218,0.109840,0.950370,0.005675,9.039500e+00,6.198900,73.778500,4.930000,4.098300
75%,0.117050,0.661635,0.418430,2.931000,4.876500e+01,0.108725,0.136905,2.771275,1.825900,0.720805,...,7.705100e+03,0.125085,0.242910,0.990405,0.205215,1.731950e+01,9.350900,118.720000,8.115800,9.204200
max,87.459000,72.416000,28.336000,6845.800000,1.250100e+06,543.250000,5.530000,6868.500000,65.607000,339.850000,...,4.212200e+06,1.651000,87.981000,47.788000,308.150000,4.818700e+06,1308.500000,451380.000000,7641.300000,158180.000000

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.088238,0.55472,0.01134,1.0205,-66.5200,0.342040,0.109490,0.57752,1.0881,0.32036,...,0.080955,0.275430,0.91905,0.002024,7.2711,4.7343,142.760,2.5568,3.2597,b'0'
1,-0.006202,0.48465,0.23298,1.5998,6.1825,0.000000,-0.006202,1.06340,1.2757,0.51535,...,-0.028591,-0.012035,1.00470,0.152220,6.0911,3.2749,111.140,3.2841,3.3700,b'0'
2,0.130240,0.22142,0.57751,3.6082,120.0400,0.187640,0.162120,3.05900,1.1415,0.67731,...,0.123960,0.192290,0.87604,0.000000,8.7934,2.9870,71.531,5.1027,5.6188,b'0'
3,-0.089951,0.88700,0.26927,1.5222,-55.9920,-0.073957,-0.089951,0.12740,1.2754,0.11300,...,0.418840,-0.796020,0.59074,2.878700,7.6524,3.3302,147.560,2.4735,5.9299,b'0'
4,0.048179,0.55041,0.10765,1.2437,-22.9590,0.000000,0.059280,0.81682,1.5150,0.44959,...,0.240400,0.107160,0.77048,0.139380,10.1180,4.0950,106.430,3.4294,3.3622,b'0'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5910 entries, 0 to 5909
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   5907 non-null   float64
 1   Attr2   5907 non-null   float64
 2   Attr3   5907 non-null   float64
 3   Attr4   5889 non-null   float64
 4   Attr5   5899 non-null   float64
 5   Attr6   5907 non-null   float64
 6   Attr7   5907 non-null   float64
 7   Attr8   5892 non-null   float64
 8   Attr9   5909 non-null   float64
 9   Attr10  5907 non-null   float64
 10  Attr11  5907 non-null   float64
 11  Attr12  5889 non-null   float64
 12  Attr13  5910 non-null   float64
 13  Attr14  5907 non-null   float64
 14  Attr15  5904 non-null   float64
 15  Attr16  5892 non-null   float64
 16  Attr17  5892 non-null   float64
 17  Attr18  5907 non-null   float64
 18  Attr19  5910 non-null   float64
 19  Attr20  5910 non-null   float64
 20  Attr21  5807 non-null   float64
 21  Attr22  5907 non-null   float64
 22  Attr23  5910 non-null   float64
 23  Attr24  5775 non-null   float64
 24  Attr25  5907 non-null   float64
 25  Attr26  5892 non-null   float64
 26  Attr27  5519 non-null   float64
 27  Attr28  5803 non-null   float64
 28  Attr29  5907 non-null   float64
 29  Attr30  5910 non-null   float64
 30  Attr31  5910 non-null   float64
 31  Attr32  5864 non-null   float64
 32  Attr33  5889 non-null   float64
 33  Attr34  5892 non-null   float64
 34  Attr35  5907 non-null   float64
 35  Attr36  5907 non-null   float64
 36  Attr37  3362 non-null   float64
 37  Attr38  5907 non-null   float64
 38  Attr39  5910 non-null   float64
 39  Attr40  5889 non-null   float64
 40  Attr41  5826 non-null   float64
 41  Attr42  5910 non-null   float64
 42  Attr43  5910 non-null   float64
 43  Attr44  5910 non-null   float64
 44  Attr45  5642 non-null   float64
 45  Attr46  5889 non-null   float64
 46  Attr47  5875 non-null   float64
 47  Attr48  5907 non-null   float64
 48  Attr49  5910 non-null   float64
 49  Attr50  5892 non-null   float64
 50  Attr51  5907 non-null   float64
 51  Attr52  5874 non-null   float64
 52  Attr53  5803 non-null   float64
 53  Attr54  5803 non-null   float64
 54  Attr55  5910 non-null   float64
 55  Attr56  5910 non-null   float64
 56  Attr57  5907 non-null   float64
 57  Attr58  5910 non-null   float64
 58  Attr59  5907 non-null   float64
 59  Attr60  5642 non-null   float64
 60  Attr61  5895 non-null   float64
 61  Attr62  5910 non-null   float64
 62  Attr63  5889 non-null   float64
 63  Attr64  5803 non-null   float64
 64  class   5910 non-null   object
dtypes: float64(64), object(1)
memory usage: 2.9+ MB

None

### Merge df's {-}

In [3]:
df01 = pd.concat([df01a, df01b, df01c, df01d, df01e], axis=0)

In [4]:
xy01_lst01 = ['profit_to_assets_ratio', 
'liab_to_assets_ratio', 
'work_cap_to_assets_ratio', 
'assets_to_liab_ratio', 
'annual_equity_to_expense_ratio', 
'ret_earn_to_assets_ratio', 
'ebit_to_assets_ratio', 
'X8 book value of equity / total liabilities', 
'X9 sales / total assets', 
'X10 equity / total assets', 
'X11 (gross profit + extraordinary items + financial expenses) / total assets', 
'X12 gross profit / short-term liabilities', 
'X13 (gross profit + depreciation) / sales', 
'X14 (gross profit + interest) / total assets', 
'X15 (total liabilities * 365) / (gross profit + depreciation)', 
'X16 (gross profit + depreciation) / total liabilities', 
'X17 total assets / total liabilities', 
'X18 gross profit / total assets', 
'X19 gross profit / sales', 
'X20 (inventory * 365) / sales', 
'X21 sales (n) / sales (n-1)', 
'X22 profit on operating activities / total assets', 
'X23 net profit / sales', 
'X24 gross profit (in 3 years) / total assets', 
'X25 (equity - share capital) / total assets', 
'X26 (net profit + depreciation) / total liabilities', 
'X27 profit on operating activities / financial expenses', 
'X28 working capital / fixed assets', 
'X29 logarithm of total assets', 
'X30 (total liabilities - cash) / sales', 
'X31 (gross profit + interest) / sales', 
'X32 (current liabilities * 365) / cost of products sold', 
'X33 operating expenses / short-term liabilities', 
'X34 operating expenses / total liabilities', 
'X35 profit on sales / total assets', 
'X36 total sales / total assets', 
'X37 (current assets - inventories) / long-term liabilities', 
'X38 constant capital / total assets', 
'sales_profit_ratio', 
'X40 (current assets - inventory - receivables) / short-term liabilities', 
'X41 total liabilities / ((profit on operating activities + depreciation) * (12/365))', 
'X42 profit on operating activities / sales', 
'X43 rotation receivables + inventory turnover in days', 
'X44 (receivables * 365) / sales', 
'X45 net profit / inventory', 
'X46 (current assets - inventory) / short-term liabilities', 
'X47 (inventory * 365) / cost of products sold', 
'X48 EBITDA (profit on operating activities - depreciation) / total assets', 
'X49 EBITDA (profit on operating activities - depreciation) / sales', 
'X50 current assets / total liabilities', 
'X51 short-term liabilities / total assets', 
'X52 (short-term liabilities * 365) / cost of products sold)', 
'X53 equity / fixed assets', 
'X54 constant capital / fixed assets', 
'X55 working capital', 
'X56 (sales - cost of products sold) / sales', 
'X57 (current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)', 
'X58 total costs /total sales', 
'X59 long-term liabilities / equity', 
'X60 sales / inventory', 
'X61 sales / receivables', 
'X62 (short-term liabilities *365) / sales', 
'X63 sales / short-term liabilities', 
'X64 sales / fixed assets', 
'class', 
]

### Label Encode target feature values {-}

In [5]:
df01.columns = xy01_lst01
df01_ohe_fit = LabelEncoder().fit(df01['class'])
df01['class_tx'] = df01_ohe_fit.transform(df01['class'])

print(f'{df01.head(3)}\n{df01.shape}')
display(df01.info())

   profit_to_assets_ratio  liab_to_assets_ratio  work_cap_to_assets_ratio  \
0                 0.20055               0.37951                   0.39641
1                 0.20912               0.49988                   0.47225
2                 0.24866               0.69592                   0.26713

   assets_to_liab_ratio  annual_equity_to_expense_ratio  \
0                2.0472                         32.3510
1                1.9447                         14.7860
2                1.5548                         -1.1523

   ret_earn_to_assets_ratio  ebit_to_assets_ratio  \
0                   0.38825               0.24976
1                   0.00000               0.25834
2                   0.00000               0.30906

   X8 book value of equity / total liabilities  X9 sales / total assets  \
0                                      1.33050                   1.1389
1                                      0.99601                   1.6996
2                                      0.43695                   1.3090

   X10 equity / total assets  ...  \
0                    0.50494  ...
1                    0.49788  ...
2                    0.30408  ...

   X57 (current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)  \
0                                            0.39718
1                                            0.42002
2                                            0.81774

   X58 total costs /total sales  X59 long-term liabilities / equity  \
0                       0.87804                            0.001924
1                       0.85300                            0.000000
2                       0.76599                            0.694840

   X60 sales / inventory  X61 sales / receivables  \
0                 8.4160                   5.1372
1                 4.1486                   3.2732
2                 4.9909                   3.9510

   X62 (short-term liabilities *365) / sales  \
0                                     82.658
1                                    107.350
2                                    134.270

   X63 sales / short-term liabilities  X64 sales / fixed assets  class  \
0                              4.4158                    7.4277   b'0'
1                              3.4000                   60.9870   b'0'
2                              2.7185                    5.2078   b'0'

   class_tx
0         0
1         0
2         0

[3 rows x 66 columns]
(43405, 66)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 43405 entries, 0 to 5909
Data columns (total 66 columns):
 #   Column                                                                                             Non-Null Count  Dtype
---  ------                                                                                             --------------  -----
 0   profit_to_assets_ratio                                                                             43397 non-null  float64
 1   liab_to_assets_ratio                                                                               43397 non-null  float64
 2   work_cap_to_assets_ratio                                                                           43397 non-null  float64
 3   assets_to_liab_ratio                                                                               43271 non-null  float64
 4   annual_equity_to_expense_ratio                                                                     43316 non-null  float64
 5   ret_earn_to_assets_ratio                                                                           43397 non-null  float64
 6   ebit_to_assets_ratio                                                                               43397 non-null  float64
 7   X8 book value of equity / total liabilities                                                        43311 non-null  float64
 8   X9 sales / total assets                                                                            43396 non-null  float64
 9   X10 equity / total assets                                                                          43397 non-null  float64
 10  X11 (gross profit + extraordinary items + financial expenses) / total assets                       43361 non-null  float64
 11  X12 gross profit / short-term liabilities                                                          43271 non-null  float64
 12  X13 (gross profit + depreciation) / sales                                                          43278 non-null  float64
 13  X14 (gross profit + interest) / total assets                                                       43397 non-null  float64
 14  X15 (total liabilities * 365) / (gross profit + depreciation)                                      43369 non-null  float64
 15  X16 (gross profit + depreciation) / total liabilities                                              43310 non-null  float64
 16  X17 total assets / total liabilities                                                               43311 non-null  float64
 17  X18 gross profit / total assets                                                                    43397 non-null  float64
 18  X19 gross profit / sales                                                                           43277 non-null  float64
 19  X20 (inventory * 365) / sales                                                                      43278 non-null  float64
 20  X21 sales (n) / sales (n-1)                                                                        37551 non-null  float64
 21  X22 profit on operating activities / total assets                                                  43397 non-null  float64
 22  X23 net profit / sales                                                                             43278 non-null  float64
 23  X24 gross profit (in 3 years) / total assets                                                       42483 non-null  float64
 24  X25 (equity - share capital) / total assets                                                        43397 non-null  float64
 25  X26 (net profit + depreciation) / total liabilities                                                43310 non-null  float64
 26  X27 profit on operating activities / financial expenses                                            40641 non-null  float64
 27  X28 working capital / fixed assets                                                                 42593 non-null  float64
 28  X29 logarithm of total assets                                                                      43397 non-null  float64
 29  X30 (total liabilities - cash) / sales                                                             43278 non-null  float64
 30  X31 (gross profit + interest) / sales                                                              43278 non-null  float64
 31  X32 (current liabilities * 365) / cost of products sold                                            43037 non-null  float64
 32  X33 operating expenses / short-term liabilities                                                    43271 non-null  float64
 33  X34 operating expenses / total liabilities                                                         43311 non-null  float64
 34  X35 profit on sales / total assets                                                                 43397 non-null  float64
 35  X36 total sales / total assets                                                                     43397 non-null  float64
 36  X37 (current assets - inventories) / long-term liabilities                                         24421 non-null  float64
 37  X38 constant capital / total assets                                                                43397 non-null  float64
 38  sales_profit_ratio                                                                                 43278 non-null  float64
 39  X40 (current assets - inventory - receivables) / short-term liabilities                            43271 non-null  float64
 40  X41 total liabilities / ((profit on operating activities + depreciation) * (12/365))               42651 non-null  float64
 41  X42 profit on operating activities / sales                                                         43278 non-null  float64
 42  X43 rotation receivables + inventory turnover in days                                              43278 non-null  float64
 43  X44 (receivables * 365) / sales                                                                    43278 non-null  float64
 44  X45 net profit / inventory                                                                         41258 non-null  float64
 45  X46 (current assets - inventory) / short-term liabilities                                          43270 non-null  float64
 46  X47 (inventory * 365) / cost of products sold                                                      43108 non-null  float64
 47  X48 EBITDA (profit on operating activities - depreciation) / total assets                          43396 non-null  float64
 48  X49 EBITDA (profit on operating activities - depreciation) / sales                                 43278 non-null  float64
 49  X50 current assets / total liabilities                                                             43311 non-null  float64
 50  X51 short-term liabilities / total assets                                                          43397 non-null  float64
 51  X52 (short-term liabilities * 365) / cost of products sold)                                        43104 non-null  float64
 52  X53 equity / fixed assets                                                                          42593 non-null  float64
 53  X54 constant capital / fixed assets                                                                42593 non-null  float64
 54  X55 working capital                                                                                43404 non-null  float64
 55  X56 (sales - cost of products sold) / sales                                                        43278 non-null  float64
 56  X57 (current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)  43398 non-null  float64
 57  X58 total costs /total sales                                                                       43321 non-null  float64
 58  X59 long-term liabilities / equity                                                                 43398 non-null  float64
 59  X60 sales / inventory                                                                              41253 non-null  float64
 60  X61 sales / receivables                                                                            43303 non-null  float64
 61  X62 (short-term liabilities *365) / sales                                                          43278 non-null  float64
 62  X63 sales / short-term liabilities                                                                 43271 non-null  float64
 63  X64 sales / fixed assets                                                                           42593 non-null  float64
 64  class                                                                                              43405 non-null  object
 65  class_tx                                                                                           43405 non-null  int32
dtypes: float64(64), int32(1), object(1)
memory usage: 22.0+ MB

None

### Display overall class percentages {-}

In [6]:
# Calc proportions by class
df01_y01_cnt = pd.value_counts(df01['class_tx'])
df01_y01_cnt_df01 = pd.DataFrame(df01_y01_cnt)
df01_y01_cnt_df01['class_percent'] = round((df01_y01_cnt_df01['class_tx'] / np.sum(df01_y01_cnt_df01['class_tx']))*100, 1)
print(f'Full data set count and percent per class:\n{df01_y01_cnt_df01}')

Full data set count and percent per class:
   class_tx  class_percent
0     41314           95.2
1      2091            4.8

### Create train/test split {-}

In [7]:
df02 = df01.copy()
print(df02.columns)

df02_xy01_lst01 = []

df02_x01_dum_lst01 = []

df02_x01_bin_lst01 = []

df02_x01_num_lst01 = []

df02_x01_drp_lst01 = ['class']


'''__________________________________________________________________________'''
df02 = df02.drop(df02_x01_drp_lst01, axis=1)

x01_df01 = df02.drop(['class_tx'], axis=1)
y01_df01 = df02['class_tx']


df02_null_summ01 = pd.DataFrame(df02.isnull().sum(), columns=['count'])

display(df02_null_summ01)
display(df02_null_summ01.loc[(df02_null_summ01['count'] != 0)])

'''__________________________________________________________________________'''
# Create train & test sets for X & Y (NOTE: stratification by y)
train_x01_df01, test_x01_df01, \
train_y01_df01, test_y01_df01 = train_test_split(x01_df01,
                                                 y01_df01,
                                                 test_size=.3,
                                                 random_state=1699,
                                                 stratify=y01_df01)

# Convert y df's to vector arrays
train_y01_vc01 = train_y01_df01.to_numpy()
test_y01_vc01 = test_y01_df01.to_numpy()

# Display train, val, & test set df's
print(f'\nTraining X matrix dimensions = {train_x01_df01.shape}')
print(f'Test X matrix dimensions = {test_x01_df01.shape}')

print(f'\nTraining y matrix dimensions = {train_y01_df01.shape}')
print(f'Test y matrix dimensions = {test_y01_df01.shape}')

Index(['profit_to_assets_ratio', 'liab_to_assets_ratio',
       'work_cap_to_assets_ratio', 'assets_to_liab_ratio',
       'annual_equity_to_expense_ratio', 'ret_earn_to_assets_ratio',
       'ebit_to_assets_ratio', 'X8 book value of equity / total liabilities',
       'X9 sales / total assets', 'X10 equity / total assets',
       'X11 (gross profit + extraordinary items + financial expenses) / total assets',
       'X12 gross profit / short-term liabilities',
       'X13 (gross profit + depreciation) / sales',
       'X14 (gross profit + interest) / total assets',
       'X15 (total liabilities * 365) / (gross profit + depreciation)',
       'X16 (gross profit + depreciation) / total liabilities',
       'X17 total assets / total liabilities',
       'X18 gross profit / total assets', 'X19 gross profit / sales',
       'X20 (inventory * 365) / sales', 'X21 sales (n) / sales (n-1)',
       'X22 profit on operating activities / total assets',
       'X23 net profit / sales',
       'X24 gross profit (in 3 years) / total assets',
       'X25 (equity - share capital) / total assets',
       'X26 (net profit + depreciation) / total liabilities',
       'X27 profit on operating activities / financial expenses',
       'X28 working capital / fixed assets', 'X29 logarithm of total assets',
       'X30 (total liabilities - cash) / sales',
       'X31 (gross profit + interest) / sales',
       'X32 (current liabilities * 365) / cost of products sold',
       'X33 operating expenses / short-term liabilities',
       'X34 operating expenses / total liabilities',
       'X35 profit on sales / total assets', 'X36 total sales / total assets',
       'X37 (current assets - inventories) / long-term liabilities',
       'X38 constant capital / total assets', 'sales_profit_ratio',
       'X40 (current assets - inventory - receivables) / short-term liabilities',
       'X41 total liabilities / ((profit on operating activities + depreciation) * (12/365))',
       'X42 profit on operating activities / sales',
       'X43 rotation receivables + inventory turnover in days',
       'X44 (receivables * 365) / sales', 'X45 net profit / inventory',
       'X46 (current assets - inventory) / short-term liabilities',
       'X47 (inventory * 365) / cost of products sold',
       'X48 EBITDA (profit on operating activities - depreciation) / total assets',
       'X49 EBITDA (profit on operating activities - depreciation) / sales',
       'X50 current assets / total liabilities',
       'X51 short-term liabilities / total assets',
       'X52 (short-term liabilities * 365) / cost of products sold)',
       'X53 equity / fixed assets', 'X54 constant capital / fixed assets',
       'X55 working capital', 'X56 (sales - cost of products sold) / sales',
       'X57 (current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)',
       'X58 total costs /total sales', 'X59 long-term liabilities / equity',
       'X60 sales / inventory', 'X61 sales / receivables',
       'X62 (short-term liabilities *365) / sales',
       'X63 sales / short-term liabilities', 'X64 sales / fixed assets',
       'class', 'class_tx'],
      dtype='object')

                                           count
profit_to_assets_ratio                         8
liab_to_assets_ratio                           8
work_cap_to_assets_ratio                       8
assets_to_liab_ratio                         134
annual_equity_to_expense_ratio                89
...                                          ...
X61 sales / receivables                      102
X62 (short-term liabilities *365) / sales    127
X63 sales / short-term liabilities           134
X64 sales / fixed assets                     812
class_tx                                       0

[65 rows x 1 columns]

                                           count
profit_to_assets_ratio                         8
liab_to_assets_ratio                           8
work_cap_to_assets_ratio                       8
assets_to_liab_ratio                         134
annual_equity_to_expense_ratio                89
...                                          ...
X60 sales / inventory                       2152
X61 sales / receivables                      102
X62 (short-term liabilities *365) / sales    127
X63 sales / short-term liabilities           134
X64 sales / fixed assets                     812

[64 rows x 1 columns]

Training X matrix dimensions = (30383, 64)
Test X matrix dimensions = (13022, 64)

Training y matrix dimensions = (30383,)
Test y matrix dimensions = (13022,)

### Check for and remove features with near zero variance {-}

In [8]:
# Remove near-zero variance features
train_x01_df01_nzv_fit = VarianceThreshold().fit(train_x01_df01)
train_x02_tx_vc01 = train_x01_df01_nzv_fit.transform(train_x01_df01)

train_x02_tx_df01 = pd.DataFrame(train_x02_tx_vc01, columns=[train_x01_df01_nzv_fit.get_feature_names_out()])
test_x02_tx_df01 = test_x01_df01[train_x01_df01_nzv_fit.get_feature_names_out()]

print(f'Training X NZV transformed matrix dimensions = {train_x02_tx_df01.shape}')
print(f'Test X NZV transformed matrix dimensions = {test_x02_tx_df01.shape}')

print(f'\n{train_x01_df01.shape[1] - train_x02_tx_df01.shape[1]} near zero variance features were eliminated')

Training X NZV transformed matrix dimensions = (30383, 64)
Test X NZV transformed matrix dimensions = (13022, 64)

0 near zero variance features were eliminated

## 2. Exploratory data analysis (EDA) {-}

In [14]:
print(f'{train_x02_tx_df01.head(3)}\n{train_x02_tx_df01.shape}')
print(f'{train_y01_vc01[:3]}\n{train_y01_vc01.shape}')

  profit_to_assets_ratio liab_to_assets_ratio work_cap_to_assets_ratio  \
0              -0.023908              0.67869                 0.013342
1               0.280690              0.42708                 0.250370
2               0.124390              0.39996                 0.404580

  assets_to_liab_ratio annual_equity_to_expense_ratio  \
0               1.0267                      -120.3700
1               2.0647                         8.2409
2               2.4105                        23.6530

  ret_earn_to_assets_ratio ebit_to_assets_ratio  \
0                 -0.45312            -0.033635
1                  0.83446             0.280690
2                  0.62886             0.154240

  X8 book value of equity / total liabilities X9 sales / total assets  \
0                                     0.47342                 0.44747
1                                     1.34150                 1.03990
2                                     1.05860                 1.21330

  X10 equity / total assets  ... X55 working capital  \
0                   0.32131  ...              1571.0
1                   0.57292  ...              2265.0
2                   0.42338  ...             39811.0

  X56 (sales - cost of products sold) / sales  \
0                                   -0.093105
1                                    0.038386
2                                    0.175810

  X57 (current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)  \
0                                           -0.07441
1                                            0.48992
2                                            0.29380

  X58 total costs /total sales X59 long-term liabilities / equity  \
0                      1.06860                            0.50712
1                      0.96161                            0.33498
2                      0.82419                            0.26721

  X60 sales / inventory X61 sales / receivables  \
0                2.7735                  1.9724
1              113.0700                 22.0970
2                2.4551                  2.6089

  X62 (short-term liabilities *365) / sales  \
0                                   407.990
1                                    10.702
2                                   122.120

  X63 sales / short-term liabilities X64 sales / fixed assets
0                            0.89464                  0.91978
1                           34.10700                 15.59000
2                            2.98890                  2.77800

[3 rows x 64 columns]
(30383, 64)
[0 0 0]
(30383,)

### Additional preprocessing (post-EDA) {-}

#### Impute missing values {-}

In [15]:
# Implement KNN Imputer for remaining missing vals
train_x02_tx_df01_kni_fit = KNNImputer().fit(train_x02_tx_df01)
train_x02_tx_vc02 = train_x02_tx_df01_kni_fit.transform(train_x02_tx_df01)
test_x02_tx_vc02 = train_x02_tx_df01_kni_fit.transform(test_x02_tx_df01)

train_x02_tx_df02 = pd.DataFrame(train_x02_tx_vc02, columns=train_x02_tx_df01.columns)
test_x02_tx_df02 = pd.DataFrame(test_x02_tx_vc02, columns=train_x02_tx_df01.columns)

train_x02_tx_df02_null_summ01 = pd.DataFrame(train_x02_tx_df02.isnull().sum(), columns=['count'])

display(train_x02_tx_df02_null_summ01.loc[(train_x02_tx_df02_null_summ01['count'] != 0)])

Empty DataFrame
Columns: [count]
Index: []

#### Apply rebalancing technique (SMOTE) {-}

In [16]:
# Apply SMOTE to address class imbalance-on training set only (Geeks for Geeks, 2022)
smote_txr = SMOTE(random_state=1699)
train_x02_tx_df03, train_y01_vc02 = smote_txr.fit_sample(train_x02_tx_df02, train_y01_vc01)

print(f'{train_x02_tx_df02.shape}')
print(f'{train_x02_tx_df03.head(3)}\n{train_x02_tx_df03.shape}')
print(f'{train_y01_vc02[:7]}\n{train_y01_vc02.shape}')

(30383, 64)
  profit_to_assets_ratio liab_to_assets_ratio work_cap_to_assets_ratio  \
0              -0.023908              0.67869                 0.013342
1               0.280690              0.42708                 0.250370
2               0.124390              0.39996                 0.404580

  assets_to_liab_ratio annual_equity_to_expense_ratio  \
0               1.0267                      -120.3700
1               2.0647                         8.2409
2               2.4105                        23.6530

  ret_earn_to_assets_ratio ebit_to_assets_ratio  \
0                 -0.45312            -0.033635
1                  0.83446             0.280690
2                  0.62886             0.154240

  X8 book value of equity / total liabilities X9 sales / total assets  \
0                                     0.47342                 0.44747
1                                     1.34150                 1.03990
2                                     1.05860                 1.21330

  X10 equity / total assets  ... X55 working capital  \
0                   0.32131  ...              1571.0
1                   0.57292  ...              2265.0
2                   0.42338  ...             39811.0

  X56 (sales - cost of products sold) / sales  \
0                                   -0.093105
1                                    0.038386
2                                    0.175810

  X57 (current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)  \
0                                           -0.07441
1                                            0.48992
2                                            0.29380

  X58 total costs /total sales X59 long-term liabilities / equity  \
0                      1.06860                            0.50712
1                      0.96161                            0.33498
2                      0.82419                            0.26721

  X60 sales / inventory X61 sales / receivables  \
0                2.7735                  1.9724
1              113.0700                 22.0970
2                2.4551                  2.6089

  X62 (short-term liabilities *365) / sales  \
0                                   407.990
1                                    10.702
2                                   122.120

  X63 sales / short-term liabilities X64 sales / fixed assets
0                            0.89464                  0.91978
1                           34.10700                 15.59000
2                            2.98890                  2.77800

[3 rows x 64 columns]
(57838, 64)
[0 0 0 0 0 0 0]
(57838,)

#### Scale X values {-}

In [17]:
# Scale vals in 2 ways: z-score & min-max
train_x02_tx_df03_sts_fit = StandardScaler().fit(train_x02_tx_df03)
train_x02_tx_vc03 = train_x02_tx_df03_sts_fit.transform(train_x02_tx_df03)
test_x02_tx_vc03 = train_x02_tx_df03_sts_fit.transform(test_x02_tx_df02)

train_x02_tx_df04 = pd.DataFrame(train_x02_tx_vc03, columns=train_x02_tx_df01.columns)
test_x02_tx_df04 = pd.DataFrame(test_x02_tx_vc03, columns=train_x02_tx_df01.columns)

print(f'{train_x02_tx_df04.shape}')
print(f'{test_x02_tx_df04.shape}')

'''__________________________________________________________________________'''
train_x02_tx_df03_mms_fit = MinMaxScaler().fit(train_x02_tx_df03)
train_x02_tx_vc04 = train_x02_tx_df03_mms_fit.transform(train_x02_tx_df03)
test_x02_tx_vc04 = train_x02_tx_df03_mms_fit.transform(test_x02_tx_df02)

train_x02_tx_df05 = pd.DataFrame(train_x02_tx_vc04, columns=train_x02_tx_df01.columns)
test_x02_tx_df05 = pd.DataFrame(test_x02_tx_vc04, columns=train_x02_tx_df01.columns)

print(f'\n{train_x02_tx_df05.shape}')
print(f'{test_x02_tx_df05.shape}')

(57838, 64)
(13022, 64)

(57838, 64)
(13022, 64)

## 3. Modeling {-}

### **Data Frame Map** \
*X* \
train_x01_df01 - no transformation (#1a) \
test_x01_df01 - no transformation (#1b) \
\
train_x02_tx_df01 - near zero variance features (if any) removed (#2a) \
test_x02_tx_df01 - near zero variance features (if any) removed (#2b) \
\
train_x02_tx_df02 - #2a + missing values imputed (#3a) \
test_x02_tx_df02 - #2b + missing values imputed (#3b) \
\
train_x02_tx_df03 - #3a + SMOTE rebalancing (#4) \
\
train_x02_tx_df04 - #4 + *z*-score scaling
test_x02_tx_df04 - #3b + *z*-score scaling
train_x02_tx_df05 - #4 + min-max scaling
test_x02_tx_df05 - #3b + min-max scaling
\
\
*Y* \
train_y01_vc01 - no transformation (#5a) \
test_y01_vc01 - no transformation (#5b) \
\
train_y01_vc02 - #5a + SMOTE rebalancing (#6)

## 4. Evaluation {-}

### Final model {-}

# References {-}

* Satopay, H. (2018, November 18). The ultimate markdown guide (for Jupyter Notebook). *Medium* https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd \
* Zięba, M., Tomczak, S. K., & Tomczak, J. M. (2016). Ensemble boosted trees with synthetic features generation in application to bankruptcy prediction. *Expert Systems with Applications*, *58*, 93-101. https://doi.org/10.1016/j.eswa.2016.04.001.